---
http_interactions:
- request:
    method: get
    uri: https://api.carerev.com/api/v1/country_subdivisions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c6fcb3f24fbec14244102b7d1f3b9520"
    body:
      encoding: ASCII-8BIT
      string: '{"data_structure":"country_subdivisions","href":"https://api.carerev.com/api/v1/country_subdivisions","country_subdivisions":[]}'
  recorded_at: Tue, 13 Sep 2022 00:53:52 GMT
[...]
- request:
    method: get
    uri: https://api.carerev.com/api/v1/country_subdivisions?country_id=4040f18e-84e2-4322-b41f-b2160c594406
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38ed85efbc48b698a430b9bcaad31ba4"
    body:
      encoding: ASCII-8BIT
      string: '{"data_structure":"country_subdivisions","href":"https://api.carerev.com/api/v1/country_subdivisions?country_id=4040f18e-84e2-4322-b41f-b2160c594406","country_subdivisions":[{"data_type":"country_subdivision","href":"https://api.carerev.com/api/v1/country_subdivisions/343cfaeb-24f3-41ed-916f-25e586166c65","id":"343cfaeb-24f3-41ed-916f-25e586166c65","code":"US-AL","code_iso":"US-AL","code_ansi":"AL","country_id":"4040f18e-84e2-4322-b41f-b2160c594406","name":"Alabama"},{"data_type":"country_subdivision","href":"https://api.carerev.com/api/v1/country_subdivisions/e36cb311-d547-4aea-9b55-392ece205267","id":"e36cb311-d547-4aea-9b55-392ece205267","code":"US-AK","code_iso":"US-AK","code_ansi":"AK","country_id":"4040f18e-84e2-4322-b41f-b2160c594406","name":"Alaska"},{"data_type":"country_subdivision","href":"https://api.carerev.com/api/v1/country_subdivisions/f2d96759-e9eb-4dbb-8326-cea98cbd3ba5","id":"f2d96759-e9eb-4dbb-8326-cea98cbd3ba5","code":"US-AZ",[...]
